body {
    margin: 0;
    padding: 0;
    font-family: "Lato";
    display: flex;
    flex-direction: column;
    height: 100px;
  }
  
  header {
    background-color: #f1f1f1;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    font-size: 1.5em;
  }

  
  #image_credits {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 20px;
  }
  
  nav a {
    margin-right: 20px;
    text-decoration: none;
    color: black;
  }

  footer {
    text-align: center;
    padding: 10px;
    min-height: 50px;
    background-color: #f1f1f1;
    flex-shrink: 0;
  }

  