html, body {
  margin: 0;
  padding: 0;
  font-family: "Lato";
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
  background-color: #f1f1f1;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.5em;
}


h1 {
  font-size: 2em;
}

nav {
  overflow: hidden;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  float: left;
}

nav a:hover, .dropdown:hover .dropbtn {
  background-color: gray;
}
  
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: left;
}

.hero img {
    max-width: 100%;
    max-height: 100%;
}

hr {
  width:100%;
  color: black;
}


.section0 {
  text-align: center;
}

.section0 p {
  margin: 0;
  line-height: 1.2;
  white-space: nowrap;
  padding-left: 0%;
}

.section1 {
  text-align: center;
}

.section2{
  background-color: #7f909f;
}

.section2 h1 {
  text-align: left;
  padding-left:25%;
  color: white;
  opacity: 100%;
  font-size: 2.5em;
}

.section2 h2 {
  text-align: left;
  padding-left:25%;
  color: white;
  opacity: 100%;
  font-size: 2em;
}

.section2 p {
  text-align: left;
  color: gainsboro;
  padding-left:25%;
  padding-right: 25%;
}

.section2 img {
  align-items: center;
}

p {
  text-align: left;
  padding-left:25%;
  padding-right: 25%;
  font-size: 1.5em;
}

.section3 {
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1; /* Make it grow to take remaining space */
  padding: 200px;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center align text */
  flex-direction: column;
    display: flex;
}
  
.section3 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 50%;
}

.section3 h3 {
  z-index: 1; /* Ensure the text is above the image */
  opacity: 100%; /* Full opacity for the text */
  margin: 0%;
}

.section3 #button {
  z-index: 1; /* Ensure the button is above the image */
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Space between text and button */
}


#index2 figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#bri figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#criticism figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
  width: 100%;
}

footer p {
  text-align: center;
}
